.my-offers-container {
  margin-bottom: 5vh;
  min-height: 0;
  background-color: white;
  width: 78%;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.my-offers-tab-wrapper {
  display: flex;
  justify-content: center;
}

.card-image-scale {
  .img-circle {
    width: 100px;
    height: 100px;
  }
  transition: transform 150ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

.card-image-non-scale {
  .img-circle {
    width: 100px;
    height: 100px;
  }
}

