.my-offers-container {
  margin-bottom: 5vh;
  min-height: 400px;
  background-color: white;
  width: 78%;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  .text-center {
  border-bottom: 1px solid gray;
  /* margin-bottom: 20px; */
  margin-left: 15px;
  margin-right: 15px;
  }

.image-empty {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    img{
      width: 80px;
      height: 80px;
    }
  }
}

.my-offers-tab-wrapper {
  display: flex;
  justify-content: center;
}

.card-image-scale {
  .img-circle {
    width: 100px;
    height: 100px;
  }
  transition: transform 150ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

.card-image-non-scale {
  .img-circle {
    width: 100px;
    height: 100px;
  }
}

.from-freelancer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.to-freelancer {
  margin-top: 50px;
  margin-bottom: 50px;
}
