abbr[title] {
  text-decoration: none;
  border: none;
}

.add-skill, .add-experience, .remove-experience, .remove-skill {
  color: $spidy-green;
  transition: transform 150ms ease;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    transform: scale(1.1)
  }
  &:focus {
    outline: none;
  }
}
