abbr[title] {
  text-decoration: none;
  border: none;
}

.new-freelancer-container {
  background-color: white;
  width: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  margin-left: 25%;
  padding: 0 35px;
  padding-bottom: 30px;
  margin-top: 40px;
}

.welcome-message-new-freelancer {
  padding-top: 15px;
}

.spidy-strong {
  color: $spidy-green;
}

#freelancer_hourly_pay {
  width: 30%;
}

