// Specific CSS for your home-page
.home-wrapper {
  text-align: left;
  display: flex;
  width: 100%;
  align-items: center;
  height: calc(100% - 70px);
  min-height: calc(95vh - 70px);
  margin-bottom: 5vh;
}

.home-page-container {
  margin: 0 auto;
  width: 1080px;
  /* height: 800px; */
  position: relative;
}

.banner {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -150px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: $spidy-green;
}

h8 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: gray;
}

.search-container{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
}

.search-container input.search-bar{
  width: 400px;
  height: 60px;
  background: white;
  border: none;
  font-size: 18pt;
  float: left;
  color: #262626;
  padding-left: 50px;
  color: gray;
  position: absolute;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.search-container input.search-bar::-webkit-input-placeholder {
   color: #65737e;
}

.search-container input.search-bar:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.search-container input.search-bar::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.search-container input.search-bar:-ms-input-placeholder {
   color: #65737e;
}

.search-container .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #93a2ad;
}

.search-container input.search-bar:focus, .search-container input.search-bar:active{
  outline:none;
  width: 850px;
}

.search-container:hover input.search-bar{
width: 850px;
}

.search-container:hover .icon{
  color: gray;
}

.banner-mp {
  color: white;
  text-align: left;
  /* height: 600px; */
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  position: relative;
}

.banner-mp-container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;

  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

}

.mp-container{
margin: 0 auto;
width: 1080px;
height: 80vh;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
}

.banner-mp-content h1 span {
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: $spidy-green;
}

.banner-mp-content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.first-card-wrapper .home-page-container {
  margin: 0 auto;
  width: 1080px;
  height: 500px;
  position: relative;
}

.card {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-card p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: $spidy-green;
  margin-bottom: 0;
}

.card img {
height: 150px;
}

.text-card h2 {
  text-align: center;
  margin-top: 6px;
}

.text-card h2 span {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: $spidy-green;
}

hr {
     color: gray;
     background: $spidy-green;
     width: 100%;
     height: 1px;
     position: absolute;
     margin-top: 100px;
     margin-bottom: 100px;
}

.second-cards-wrapper .home-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  height: 500px;
}

.s-card {
padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-card {
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.s-card img {
height: 150px;
}

.p-card img {
height: 60px;
}

.bottom-banner {
  background-color: #E0DCE3;
  text-align: left;
  height: 600px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  /* background-size: cover !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  max-width: 100%;
}

.bottom-banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
 /*  opacity: 0.6; */
  margin-bottom: 30px;
}

.bottom-banner .banner-content .home-page-container {
  width: 1080px;
  height: 600px;
}

.bottom-banner .banner-content .home-page-container h1 span {
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: $spidy-green;
}

h9 {
  color: white;
  font-weight: 300;
  font-size: 50px;
}

.bottom-banner .banner-content .home-page-container p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

/* .btn-primary {
  background-color: $spidy-green;
  border: none;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #ABFFD7;
} */

.bottomline .home-page-container {
  margin: 0 auto;
  width: 1080px;
  height: 300px;
  position: relative;
}

.bottomline .home-page-container hr {
  background: gray;
  margin-bottom: 0px;
  margin-top: 40px;
}
