/* .login-container {
  height: calc(100% - 70px);
  margin-bottom: 5vh;
  min-height: calc(95vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 55vw;
  height: 80vh;
  background-color: $white;
  margin: 15px;
  border-radius: 2px;
 box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  position: absolute;
  padding: 20px;

}

.social {
  border-top: 1px solid gray;
  width: 100%;
  margin-top: 20px;
}

.btn-facebook {
  margin-top: 30px;
  width: 100%;
}
 */
