<body>
  <div class="password-banner">
    <div class="container-password">
      <div class="password-box">
        <div class="normal-password">
          <div class="left-password">
            <h1 class="text-center">Forgot your password?</h1>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Send me reset password instructions" %>
            </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
