<div class="wrapper">

<div class="footer-container">
  <ul>
  <h3><strong>Spidy</strong></h3>
  <li> </li>
  <li><a href="#">About us</a></li>
  <li><a href="#">Careers</a></li>
  <li><a href="#">Press</a></li>
  <li><a href="#">Policies</a></li>
  <li><a href="#">Help</a></li>
  </ul>
</div>

<div class="footer">
    <div class="spidy-logo-footer">
    <%= image_tag "spidy-logo-copy.svg" %>
    </div>
    <div class="footer-copyright">
    Terms
    Privacy
    Sitemap
  </div>
  <div class="footer-links">
    <%= link_to "https://www.facebook.com/#{ current_user.uid if user_signed_in? }" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-vimeo"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-tumblr"></i></a>
  </div>

</div>

</div>
