<div class="footer">
  <div class="footer-links">
    <%= link_to "https://www.facebook.com/#{ current_user.uid if user_signed_in? }" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-vimeo"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-tumblr"></i></a>
  </div>
  <div class="footer-copyright">
    Spidy-Project™
  </div>
</div>
