<div class="spidy-tabs">
  <a class="spidy-tab active" href="#">
    <h3 class="active-text-h3"><%=  %></h3>
    <p class="active-text-p">From Freelancer</p>
  </a>
  <a class="spidy-tab non-active" href="#">
    <h3 class="non-active-text-h3"><%=  %></h3>
    <p class="non-active-text-p">To Freelancer </p>
  </a>
</div>
