<div class="wrapper">
  <div class="container">
    <div class="banner">
      <div class="banner-content">
        <h1>spidy</h1>
        <p>Find nearby freelancer professionals to solve your problems.</p>
        <div class="search-box">
          <div class="search-container">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="What are you looking for?" />
          </div>
        </div>
      </div>
    </div>

  </div>
      <div class="banner-mp" style="background-image: linear-gradient(-225deg, rgba(0,30,40,0.6) 0%, rgba(0,5,0,0.6) 50%), url('http://res.cloudinary.com/djf9mipph/image/upload/v1511256314/banner_home_top-min_ba5tzu.jpg');">
      <div class="banner-mp-content">
        <h1>Le Wagon Berlin</h1>
        <p>Learn to code with us in Berlin</p>
      </div>
    </div>
</div>
