.footer-wrapper {
  height: 300px;
  width: 80%;
  left: 0;
  right: 0;
  position: absolute;
}

.footer-container {
  text-align: right;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  padding: 20px 0px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid gray;
  margin-top: 80px;
  bottom: 0;
  /*   width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute; */
  font-size: 14px;
  word-spacing: 30px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #999999;
  opacity: 0.6;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
  transition: all 150ms ease;
  &:hover {
    color: $spidy-green;
    opacity: 1;
  }
}

.footer .fa-heart {
  color: #D23333;
}

ul {
  list-style-type: none;
}

a {
    color: #999999;
    text-decoration: none;
    transition: all 150ms ease;
}

a:hover{
     color: $spidy-green;
     text-decoration:none;
     cursor:pointer;
}

h3 {
  color: #999999;
  font-size: 20px;
}

.spidy-logo-footer img {
  height: 25px;
}

/* .footer-copyright {
  justify-content: left;
} */
