.maps-wrapper {
  width: 100%;
}

.maps-wrapper .home-page-container {
  /* padding-bottom: 10px; */
  min-height: 600px;
}

.maps {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1080px;
  height: 500px;
  background-color: #E0DCE3;
}
