<div class="new-freelancer-container">
  <div class="new-freelancer-card">
  <div class="welcome-message-new-freelancer text-center">
    <p>
      Fill out the following information to update your profile &
      <strong class="spidy-strong">
        register as a freelancer!
      </strong>
    </p>
  </div>

  <%= render "freelancers/forms/new_freelancer" %>
</div>
</div>
